{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YouTube Downloader</title>
  <!-- <link rel="stylesheet" href="inc/style.css"> -->
  <link rel="stylesheet" href="{% static 'downloader/style.css' %}">
</head>

<body>
  <div class="container">
    <h1>YouTube Video Download</h1>
    <form method="post">
      {% csrf_token %}
      <div class="main-form-clas">
        <div class="search">
          <input type="search" name="ytUrl" placeholder="Paste your video link here">
        </div>
        <div class="down-btn">
          <button type="submit" class="btn ">Download</button>
        </div>
      </div>
      <p>By using our service you accept our Terms of Service and Privacy Policy</p>
    </form>
    

    <a href="" type="button" id="anchor">How to download ?</a>
    {% if video %}
      <h2>{{ video.title }}</h2>
      <img src="{{video.thumbnail }}"/>
      <h3>Duration : {{ video.duration }} Min </h3>
      <form method="POST" action="{% url 'download' video.id %}" target="_blank">
                          {% csrf_token %}
        <div class="quality">
          <button type="submit" class="ancr">Download</button>
          <select class="browser-default custom-select" name="choice" id="slct">
                                  
                {% for x,y in video.mylist %}
                    <option value="{{x}}" >{{y}}p</option>
                {% endfor %} 
            </select>
        </div>
      </form>
    {% endif %}
  </div>
</body>

</html>